{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>STUDENTS RECORD OF THE YEAR 2021</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>STUDENTS RECORD OF THE YEAR 2021</h1>   
{{ end }}